---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=toni%20rib*)?apiKey=qdu3pcgpbg7e9zeamgypbkam&format=json&pageSize=15&show=sku,name,salePrice,customerReviewAverage,shortDescription,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 0,
          "total": 0,
          "currentPage": 1,
          "totalPages": 0,
          "queryTime": "0.155",
          "totalTime": "0.156",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"toni rib*\")?show=sku,name,salePrice,customerReviewAverage,shortDescription,image&format=json&apiKey=qdu3pcgpbg7e9zeamgypbkam",
          "products": [

          ]
        }
  recorded_at: Tue, 08 Mar 2016 18:19:04 GMT
recorded_with: VCR 3.0.1
