---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/products(longDescription=sennheiser*)?apiKey=qdu3pcgpbg7e9zeamgypbkam&format=json&pageSize=15&show=sku,name,salePrice,customerReviewAverage,shortDescription,image
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Mashery-Responder:
      - prod-j-worker-lax-02.mashery.com
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 15,
          "total": 131,
          "currentPage": 1,
          "totalPages": 9,
          "queryTime": "0.004",
          "totalTime": "0.038",
          "partial": false,
          "canonicalUrl": "/v1/products(longDescription=\"sennheiser*\")?show=sku,name,salePrice,customerReviewAverage,shortDescription,image&format=json&apiKey=qdu3pcgpbg7e9zeamgypbkam",
          "products": [
            {
              "sku": 9678429,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "salePrice": 629.95,
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated display; 4-level battery indicator; 626-668MHz frequency range",
              "image": "http://images.bestbuy.com/BestBuy_US/images/products/9678/9678429_sa.jpg"
            },
            {
              "sku": 9678447,
              "name": "Sennheiser - Camera-Mount Wireless Microphone System - Black",
              "salePrice": 629.95,
              "customerReviewAverage": null,
              "shortDescription": "SENNHEISER Camera-Mount Wireless Microphone System: Invisible clip-on microphone; sturdy metal housing; automatic frequency management; easy-to-read illuminated dis[...]
